<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe Detail !!</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"  crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}">
    <!-- FA -->

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"  crossorigin="anonymous"
            th:src="@{/webjars/jquery/3.5.1/jquery.js}"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.bundle.js}"
    ></script>

    <style>
        p{
            display: inline;
        }
        label{
            font-weight: bold;
        }
        img{
            border: yellowgreen 2px solid;
            border-radius: 3px;
        }
    </style>

</head>
<body>
    <div class="container mt-5 mb-5">
        <!--/* @thymesVar id="recipe" type="com.beles.domain.Recipe"*/-->
        <!--/* @thymesVar id="category" type="com.beles.domain.Category"*/-->
        <!--/* @thymesVar id="ingredient" type="com.beles.domain.Ingredient"*/-->
        <!--/* @thymesVar id="ingredient.getUom()" type="com.beles.domain.UnitOfMeasure"*/-->

        <h1 class="text-center" th:text="${recipe.description}">bla bla</h1>

        <div class="card border-primary">
            <div class="card-header bg-primary" th:text="${recipe.description}">Description</div>
            <div class="card-body ">
                <div class="row align-items-center" >
                    <label class="col-md-2">Categories</label>
                    <div class="col-md-4">
                        <ul th:each="category : ${recipe.getCategories()}">
                            <li th:text="${category.description}">category</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <img src="../../static/images/logo.jpg" width="480" height="360"
                             th:src="@{/images/logo.jpg}"/>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <label>PrepTime : </label>
                        <p th:text="${recipe.prepTime}">prepTime</p>
                    </div>
                    <div class="col-md-6">
                        <label>Difficulty : </label>
                        <p th:text="${recipe.difficulty}">difficulty</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>CookTime : </label>
                        <p th:text="${recipe.cookTime}">Cooktime</p>
                    </div>
                    <div class="col-md-6">
                        <label>Serving : </label>
                        <p th:text="${recipe.serving}">serving</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Source : </label>
                        <p th:text="${recipe.source}">Source</p>
                    </div>
                    <div class="col-md-6">
                        <label>URL : </label>
                        <p th:text="'www.exemple.com'">Url</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card border-warning">
            <div class="card-header bg-warning">
                <div class="d-flex align-items-center">
                    <span class="mr-auto p-3">Ingredients</span>
                    <div class="btn-group" role="group">
                        <a class="btn border-secondary"  th:href="@{'/recipe/'+${recipe.id}+'/ingredients'}">View</a>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <ul th:each="ingredient : ${recipe.getIngredients()}">
                    <li th:text="${ ingredient.getAmount() +' '+ ingredient.getUom().uom +' '+ ingredient.description}">text here</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="card border-danger">
            <div class="card-header bg-danger" th:text="'Directions'">text here</div>
            <div class="card-body ">
                <p th:text="${recipe.directions}">directions here</p>
            </div>
        </div>
        <br>
        <div class="card border-secondary">
            <div class="card-header bg-secondary" th:text="'Notes'">text here</div>
            <div class="card-body ">
                <p th:text="${recipe.getNotes().recipeNotes}">Notes here</p>
            </div>
        </div>

    </div>
</body>
</html>
